<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Restaurar contraseña.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        #TeLlevoAPP
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content">
    <ion-card>
      <ion-title>Ingrese la información solicitada.</ion-title>
      <ion-card-header>
        <ion-list>
          <ion-list>
            <ion-item>
              <ion-input label="RUN:" placeholder="12345678-9"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Correo electrónico:" type="email" placeholder="ej: jperez@duocuc.cl"></ion-input>
            </ion-item>
          </ion-list>
        </ion-list>

        <ion-button routerLink="" expand="block">Enviar</ion-button>
      </ion-card-header>
      <ion-card-content>
        Le enviaremos un correo electrónico con los pasos a seguir para recuperar su contraseña.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <strong>Planifica, comparte y regresemos a casa juntos.</strong>
    <p>Visítanos <a target="_blank" rel="noopener noreferrer" href="http://www.tellevoapp.com">www.tellevoapp.com</a>
    </p>
  </ion-toolbar>
</ion-footer>