<ion-content [fullscreen]="true" class="ion-padding background-image">
  <div id="container">
    <div>
      <img src="/assets/icon/avatar.png" alt="Fondo" />
    </div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bienvenido a TeLlevoApp</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button routerLink="/login" expand="block" color="light">Iniciar sesión</ion-button>
        <ion-button routerLink="/restkey" expand="block" color="light">Resetear contraseña</ion-button>
        <ion-button routerLink="/newuser" expand="block" color="light">Registrar usuario</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<div>
  <ion-button routerLink="/menu">menu</ion-button>
  <ion-button routerLink="/userlog">userlog</ion-button>
</div>

<ion-footer>
  <div>
    <ion-toolbar>
      <strong>Planifica, comparte y regresemos a casa juntos.</strong>
      <p>Visítanos <a target="_blank" rel="noopener noreferrer" href="http://www.tellevoapp.com">www.tellevoapp.com</a>
      </p>
    </ion-toolbar>
  </div>
</ion-footer>