/* Ajustes para el tema oscuro */
.dark-theme {
  color: #ffffff; /* Color de texto blanco */
  
  #container {
    background: rgba(0, 0, 0, 0.8); /* Fondo oscuro semitransparente */
    color: #ffffff; /* Color de texto blanco */
  }

  ion-button {
    --background: #333333; /* Fondo gris oscuro */
    --color: #ffffff; /* Texto blanco */
    --border: 2px solid #ffffff; /* Borde blanco */
  }

  ion-card {
    --background: #333333; /* Fondo gris oscuro */
    --color: #ffffff; /* Texto blanco */
  }

  ion-card-header,
  ion-card-content {
    --background: #333333; /* Fondo gris oscuro */
    --color: #ffffff; /* Texto blanco */
  }

  ion-toolbar {
    --background: #222222; /* Fondo más oscuro para el toolbar */
    --color: #ffffff; /* Texto blanco */
  }
}
/* Estilos para el tema claro */
ion-button {
  --background: #ffffff; /* Fondo blanco */
  --color: #000000; /* Texto negro */
  --border: 2px solid #041a31; /* Borde resaltado de color azul */
  margin-bottom: 15px; /* Espaciado entre botones */
}

ion-button:hover {
  --background: #f0f0f0; /* Fondo ligeramente más oscuro al pasar el ratón */
}

ion-button:focus {
  outline: none; /* Eliminar el borde de enfoque predeterminado */
  box-shadow: 0 0 0 3px rgba(4, 26, 49, 0.5); /* Añadir un borde de enfoque personalizado */
}

ion-button:active {
  --background: #e0e0e0; /* Fondo más oscuro al hacer clic */
}

/* Estilos para el tema oscuro */
.dark-theme ion-button {
  --background: #000000; /* Fondo negro */
  --color: #ffffff; /* Texto blanco */
  --border: 2px solid #ffffff; /* Borde blanco */
}
