<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Botón de retroceso ubicado al inicio -->
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <!-- Título de la página -->
    <ion-title>
      Solicitudes de viajes
    </ion-title>
    <!-- Avatar con enlace al perfil de usuario -->
    <ion-avatar routerLink="/userlog" slot="end">
      <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Fondo" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="content">
    <ion-card>
      <!-- Mostrar mensaje si no hay solicitudes -->
      <ion-item *ngIf="solicitudes.length === 0">
        <ion-label>
          <h2>No hay solicitudes de viaje en este momento.</h2>
        </ion-label>
      </ion-item>
      <!-- Aquí añadimos la lista de solicitudes de viaje -->
      <ion-list>
        <ion-item *ngFor="let solicitud of solicitudes">
          <!-- Avatar del usuario -->
          <ion-avatar slot="start">
            <img src="../../assets/icon/avatar.png" alt="Avatar del usuario" />
          </ion-avatar>

          <!-- Información del usuario que solicitó -->
          <ion-label>
            <h2>Pasajero: {{solicitud.email}}</h2>
            <p>Estado: {{solicitud.estado}}</p>
            <!-- Botón de aceptar solicitud -->
            <ion-button color="success" (click)="aceptarSolicitud(solicitud)">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
            <!-- Botón de rechazar solicitud -->

            <ion-button color="danger" (click)="rechazarSolicitud(solicitud)">
              <ion-icon name="close-circle"></ion-icon>
            </ion-button>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <!-- Mensaje de pie de página -->
    <strong>Planifica, comparte y regresemos a casa juntos.</strong>
    <!-- Enlace al sitio web -->
    <p>Visítanos <a target="_blank" rel="noopener noreferrer" href="http://www.tellevoapp.com">www.tellevoapp.com</a>
    </p>
  </ion-toolbar>
</ion-footer>