<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding background-image">
  <div id="container">
    <div>
      <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Fondo" />
    </div>
    <ion-card>
      <ion-card-header>
        <ion-header [translucent]="true">
          <ion-toolbar>
            <ion-title>
              Bienvenido, {{ userEmail }}
            </ion-title>
          </ion-toolbar>
        </ion-header>
      </ion-card-header>
      <ion-card-content>
        <ion-button routerLink="/restkey" expand="block" color="light">Resetear contraseña</ion-button>
        <ion-button (click)="presentLogoutAlert()" expand="block" color="light">Cerrar sesión</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <div>
    <ion-toolbar>
      <strong>Planifica, comparte y regresemos a casa juntos.</strong>
      <p>Visítanos <a target="_blank" rel="noopener noreferrer" href="http://www.tellevoapp.com">www.tellevoapp.com</a>
      </p>
    </ion-toolbar>
  </div>
</ion-footer>