<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Botón de retroceso ubicado al inicio -->
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <!-- Título de la página -->
    <ion-title>Restaurar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- Título grande al colapsar el header -->
      <ion-title size="large">
        #TeLlevoAPP
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content">
    <ion-card>
      <!-- Instrucción para el usuario -->
      <ion-title>Ingrese la información solicitada.</ion-title>
      <ion-card-header>
        <ion-list>
          <!-- Campo de entrada para el RUN -->
          <ion-item>
            <ion-label position="floating">RUN:</ion-label>
            <ion-input [(ngModel)]="run" placeholder="12345678-9"></ion-input>
          </ion-item>
          <!-- Mensaje de error para RUN inválido -->
          <ion-item *ngIf="run && !validateRun(run)">
            <ion-text color="danger">RUN inválido</ion-text>
          </ion-item>
          <!-- Campo de entrada para el correo electrónico -->
          <ion-item>
            <ion-label position="floating">Correo electrónico:</ion-label>
            <ion-input [(ngModel)]="email" type="email" placeholder="ej: jperez@duocuc.cl"></ion-input>
          </ion-item>
          <!-- Mensaje de error para correo electrónico inválido -->
          <ion-item *ngIf="email && !validateEmail(email)">
            <ion-text color="danger">Correo electrónico inválido</ion-text>
          </ion-item>
        </ion-list>
        <!-- Botón para enviar la información -->
        <ion-button (click)="onSubmit()" expand="block">Enviar</ion-button>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <!-- Mensaje de pie de página -->
    <strong>Planifica, comparte y regresemos a casa juntos.</strong>
    <!-- Enlace al sitio web -->
    <p>Visítanos <a target="_blank" rel="noopener noreferrer" href="http://www.tellevoapp.com">www.tellevoapp.com</a></p>
  </ion-toolbar>
</ion-footer>
