ion-select {
    --placeholder-color: #666666;
    --color: #000000;
  }
  ion-button {
    --background: #ffffff;
    /* Fondo blanco */
    --color: #000000;
    /* Texto negro */
    --border-radius: 24px;
    /* Bordes redondeados */
    --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    --border: 2px solid #041a31;
    /* Borde resaltado de color azul */
    margin-bottom: 15px;
    /* Espaciado entre botones */
  }