<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Título de la aplicación -->
    <ion-title>
      #TeLlevoAPP
    </ion-title>
    <!-- Avatar con enlace al perfil de usuario -->
    <ion-avatar routerLink="/userlog" slot="end">
      <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Fondo" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding background-image">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- Título grande al colapsar el header -->
      <ion-title size="large">
        #TeLlevoAPP
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content">
    <ion-card>
      <!-- Botón para conductores -->
      <ion-card-header>
        <ion-button routerLink="/menudriver" expand="block">CONDUCTOR</ion-button>
      </ion-card-header>
      <ion-card-content>
        Crea, modifica y revisa solicitudes de viajes.
      </ion-card-content>

      <!-- Botón para pasajeros -->
      <ion-card-header>
        <ion-button routerLink="/unirseviaje" expand="block">PASAJERO</ion-button>
      </ion-card-header>
      <ion-card-content>
        Busca viajes disponibles para tu destino.
      </ion-card-content>
    </ion-card>
  </div>
  <div class="image-container">
    <!-- Imagen de fondo -->
    <img src="assets/images/noche.jpeg" alt="Imagen de noche">
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <!-- Mensaje de pie de página -->
    <strong>Planifica, comparte y regresemos a casa juntos.</strong>
    <!-- Enlace al sitio web -->
    <p>Visítanos <a target="_blank" rel="noopener noreferrer" href="http://www.tellevoapp.com">www.tellevoapp.com</a></p>
  </ion-toolbar>
</ion-footer>
